@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor01: #add8e6;
  --cor02: #007fff;
  --cor03: #6495ed;
  --cor04: #ff5733;
  --cor05: #e0ffff;
  --cor06: #70acc0;
  --cor07: #1083f7f6;
  --cor08: #93c9ff;

  --fonte-padrao: "Montserrat", "arial";
  --fonte-destaque: "Merriweather", "cursive";
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: white;
  width: auto;
  font-family: var(--fonte-padrao);
}
header {
  background-color: #007fff;
  text-align: center;
  min-height: 150px;
  max-height: 165px;
  padding-top: 15px;
  padding-bottom: 10px;
}
header h1 {
  color: white;
  font-size: 2.3em;
  text-shadow: 1px 1px 1px black;
}
header p {
  padding-top: 19px;
  color: white;
  font-weight: bold;
  max-width: 600px;
  padding-left: 10px;
  margin: auto;
  padding-right: 10px;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486);
  padding-bottom: 7px;
}
nav {
  padding: 20px;
  width: auto;
  text-align: left;
}
nav a {
  text-decoration: none;
  padding: 7px;
  color: white;
  transition-duration: 0.5s;
  font-weight: bold;
  margin: 6px;
  padding-top: 0px;
  background-color: var;
}
nav a:hover {
  background-color: var(--cor08);
  margin: 1em;
  padding: 10px;
  text-shadow: 1px 1px 1px black;
  border-radius: 5px;
}
main {
  padding: 20px;
  text-align: justify;
  padding-top: 40px;
  min-height: 300px;
  max-width: 1000px;
  font-weight: normal;
  margin: auto;
  margin-bottom: 20px;
}
main h1 {
  padding: 5px;
  padding-left: 5px;
  padding-right: 10px;
  text-align: justify;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.212);
  font-family: var(--fonte-destaque);
  font-size: 1.8em;
  font-weight: normal;
}
main h2 {
  font-family: var(--fonte-destaque);
  font-weight: normal;
  font-size: 1.4em;
  padding-left: 5px;
  padding-right: 10px;
  line-height: 1.3em;
}
article p {
  padding-left: 15px;
  padding-right: 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.144);
  line-height: 1.7em;
  padding: 10px;
  font-family: var(--fonte-padrao);
  background-color: rgba(211, 211, 211, 0.041);
}
main img {
  width: 100%;
  border: black;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.555);
}
.pequena {
  width: 50%;
  display: block;
  padding: 10px;
  margin: auto;
}
main h3 {
    font-size: 1.2em;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  ul{
    list-style: inside;
  }
  li{
    padding: 5px;
    padding-bottom: 10px;
  }
aside{
    background-color: rgba(211, 211, 211, 0.185);
    border-radius: 10px;
    list-style: inside;
    padding: 7px;
}
aside h3{
    margin-top: -10px;
}
aside ul{
    list-style-type: '\2B50\00a0' ;
}
#finalizando{
    padding: 10px;
    padding-left: 4px;
}